<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 PFPs</title>
    <link rel="stylesheet" href="/public/styles.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            align-items: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>100 PFPs</h1>
        {{ template "navbar.html" . }}
        Welcome to 100 PFPs, feel free to post your own profile here<br>
        take care before you post anything, your profile is public and it will not be removable until the next round <a href="/details/">see details</a>
    </header>

    <form class="filter">
        {{ $selected_tag := index . "tag" }}
        <select name="tag">
            <option value="any">Any</option>
            {{ range $tag := index . "tags" }}
                {{ $selected := false }}
                {{ if $selected_tag | ne nil }}
                    {{ $selected = ($tag.Name | eq (derefStr $selected_tag)) }}
                {{ end }}
                <option value="{{ $tag.Name | html }}" {{ $selected | ternary "selected" "" }}>{{ $tag.Name | html }} ({{ $tag.Count }})</option>
            {{ end }}
        </select>
        <button>Filter!</button>
    </form>
    <div class="board">
        <label class="add-btn" for="form-profile__modal-toggle">+</label>
        {{ range $profile := index . "profiles" }}
        <div class="profile">
            <img class="profile__img" src="/imgs/{{ $profile.ID }}.png" alt="">
            <div class="profile__info">
                <img class="profile__info__img" src="/imgs/{{ .ID }}.png" alt="">
                <div class="profile__info__title">{{ $profile.Name | html }}</div>
                <div class="profile__info__description">{{ $profile.Description | html }}</div>
                <div class="profile__info__tags">
                    {{ range $tag := $profile.Tags }}
                        {{- $tag.Name | html }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    <form class="modal form-profile" method="POST" enctype="multipart/form-data">
        {{ $form := index . "form-profile-data" }}
        {{ $errors := index . "form-profile-errors" | valueOr strMap }}
        {{ $hasErrors := gt (len $errors) 0 }}
        <input type="checkbox" name="form-profile__modal-toggle" id="form-profile__modal-toggle" {{ $hasErrors | ternary "checked" "" }}>
        <div class="form-profile__title">Submit your profile</div>
        <div class="form-profile__error-kind error-msg">{{ index $errors "kind" | html }}</div>
        <!-- <input type="text" name="ID" placeholder="id"> -->
        <div class="form-profile__entry">
            <input type="text" placeholder="Name" name="name" value="{{ $form.Name | valueOrEmpty | html }}" required>
            <div class="error-msg">{{ index $errors "Name" | html }}</div>
        </div>
        <div class="form-profile__entry">
            <textarea type="text" placeholder="Description" name="description" required>{{ $form.Description | valueOrEmpty | html }}</textarea>
            <div class="error-msg">{{ index $errors "Description" | html }}</div>
        </div>

        <div class="form-profile__entry">
            <input placeholder="#tag1 #tag2 #tag3..." type="text" name="tags" value="{{ $form.Tags | valueOrEmpty | html }}" required>
            <div class="error-msg">{{ index $errors "Tags" | html }}</div>
        </div>
        
        <div class="form-profile__entry form-profile__img">
            <input type="file" name="img" accept="image/jpeg, image/png" required>
            <div class="error-msg">{{ index $errors "Image" | html }}</div>
        </div>

        <div class="form-profile__entry form-profile__terms">
            <input type="checkbox" name="rulesandprivacyaccepted" value="true" required> I accept <a href="/rules/">Rules</a> and <a href="/privacy/">Privacy Policy</a>
        </div>

        <div class="form-profile__entry buttons">
            <button class="form-profile__submit-btn" type="submit">Upload</button>
            <label class="btn form-profile__close" for="form-profile__modal-toggle">Close</label>
        </div>
    </form>
    <!-- <button class="add-btn">+</button> -->
    <div class="modal__shadow"></div>
</body>
</html>
