<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details - 100pfps</title>
    <meta name="description" content="Details">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Details</h1>
        {{ template "navbar.html" . }}
    </header>
    <article>
        <p>This is a non-profit ran project created by <a href="https://github.com/shawn-10x/" target="_blank">shawn</a>,
        the main idea is to post your profile here with a similar aproach to 4chan threads but using profiles.</p>

        <p>This project is AGPLv3, you can visit the repository <a href="https://github.com/shawn-10x/100pfps/" target="_blank">here</a>,
        you're free to redistribute this project and create your own instances. </p>

        <h2>Donations</h2>
        <p>If you wish to support this project<br>
        </p>
        <h3>Bitcoin</h3>
        <span style="word-break: break-all;">bc1qteyqrjs8e54vtvp4uns9p4y55e9cqvw46dmspm</span>
        <h3>Monero</h3>
        <span style="word-break: break-all;">86ET6nGtp4X55vXM5smJ7xDcSJ3xkeVcxhkUd4pYTJdaVt9AoKtib1SEMtwWSMtCKKQwaZLfyMvUYiPvsUPiV2dkGwzafiB</span>

    </article>
</body>
</html>
