<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Details</h1>
        {{ template "navbar.html" . }}
    </header>
    <article>
        This is a non-profit ran project created by <a href="https://github.com/shawn-10x/" target="_blank">shawn</a>,
        the main idea is to post your profile here with a similar aproach to 4chan threads but using profiles.<br><br>

        This project is AGPLv3, you can visit the repository <a href="https://github.com/shawn-10x/100pfps/" target="_blank">here</a>,
        you're free to redistribute this project and create your own instances. 

        <h2>Donations</h2>
        If you wish to support this project<br>
        <table>
            <tr>
                <td><b>BTC: </b></td>
                <td>bc1qteyqrjs8e54vtvp4uns9p4y55e9cqvw46dmspm</td>
            </tr>
            <tr>
                <td><b>XMR: </b></td>
                <td>86ET6nGtp4X55vXM5smJ7xDcSJ3xkeVcxhkUd4pYTJdaVt9AoKtib1SEMtwWSMtCKKQwaZLfyMvUYiPvsUPiV2dkGwzafiB</td>
            </tr>
        </table>
    </article>
</body>
</html>
