{{ $entries := strMap }}

{{ $entries | strMapSet "/" "Profiles" }}
{{ $entries | strMapSet "/rules/" "Rules" }}
{{ $entries | strMapSet "/privacy/" "Privacy" }}
{{ $entries | strMapSet "/details/" "Details" }}

<nav class="navbar">
    {{ $path := index . "path" }}
    {{ range $key, $value := $entries }}
        <span>
            {{ if eq $path $key }}
                <b>{{ $value }}</b>
            {{ else }}
                <a href="{{ $key }}">{{ $value }}</a>
            {{ end }}
        </span>
    {{ end }}
</nav>
