<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - 100pfps</title>
    <meta name="description" content="Privacy policy">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
        {{ template "navbar.html" . }}
    </header>
    <article>
        <h2>What do we save about you?</h2>
        <ul>
            <li>The information needed to hold your profile, keep in mind it will be deleted automatically when 99 people posts their profiles after you do.</li>
            <li>Your IP address is stored in our web server logs, these are cleaned periodically.</li>
            <li>When you post your own profile, we save your IP address in our database, we only do this in order to control and avoid spam.</li>
        </ul>

        <h2>Further info</h2>
        <ul>
            <li>We don't store cookies in your web browser.</li>
            <li>Anyone can see your profile.</li>
            <li>Whatever that is on the website is available for everyone.</li>
            <li>We don't sell information to third parties</li>
        </ul>

        <p>Thank you for reading our privacy policy!</p>
    </article>
</body>
</html>
