<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <h1>Rules</h1>
        {{ template "navbar.html" . }}
    </header>
    <article>
        Before posting your profile in 100pfps, you must respect our rules or you will be banned permanently.
        <br><br>
        <h2>Our rules are the following ones:</h2>
        <ul>
            <li>Do not be rude or demeaning in any sort of way, this means uploading content that incites trash talking/harassment, hate speech and/or bigotry.</li>
            <li>Do not upload content that is in any way inappropiate or risqué, such as genitalia or shock content.</li>
            <li>Do not upload personal identifiable information (PII, as in anything that links back to a real identity) of yourself or others.</li>
            <li>Do not to violate any US laws, including but not limited to copyright infringement, endangerment, fraud, and any other unlawful activities.</li>
        </ul>

        Thank you for reading our rules!
    </article>
</body>
</html>
